.purpouse {
    margin-top: 100px;
}

.purpouse-header {
    color: white;
    font-family: 'Fredoka one';
    font-size: 30px
}

.purpouse-box {
    text-align: center;
    color: white;
    font-family: 'Fredoka one';
    font-size: 30px;
    padding: 20px;
    border: 1px solid white;
    width: 1000px;
    height: 175px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.future {
    margin-top: 50px;
}

.future-header {
    color: white;
    font-family: 'Fredoka one';
    font-size: 30px
}

.future-box {
    text-align: center;
    color: white;
    font-family: 'Fredoka one';
    font-size: 30px;
    padding: 20px;
    border: 1px solid white;
    width: 1000px;
    height: 90px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}